
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap" rel="stylesheet">
    <link href="~/Content/css/Login.css" rel="stylesheet" />
    <title>Document</title>
</head>
<body>
    <div class="contenedor">
        <form action="@Url.Action("Login","Acceso")" method="post">
            <h1>Inicio de sesion</h1>
            <h2 class="info" required>Correo electronico</h2>
            <input type="email" name="Correo" placeholder="email@dominio.com">
            <h2 class="info">Contraseña</h2>

            <input type="password" name="Clave" id="contra">


            @if (ViewData["Mensaje"] != null)
            {
                <div class="info" role="alert">
                   @ViewData["Mensaje"]
                </div>
            }

            <div class="botones">
                <button type="submit" name="button" class="boton">Iniciar sesion</button>
            </div>

        </form>

        <h5 class="otros">¿No tienes una cuenta? <a href="@Url.Action("Registrar","Acceso")" style="color: #e3702e;">Regístrate aquí</a></h5>

    </div>
    
    
</body>
</html>
